<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="fragment/head :: headFragment" ></div>
<body>
<div class="bodyWrap">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div th:include="fragment/navigator :: navigatorFragment" ></div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="topMainWrap">
        <!--#####################################################################################################################################################################################################################-->
        <div class="templateBody">
            <div id="lg_menuTitle" th:text="'강의 신청하기'"></div>
            <div class="board">
                <form th:action="@{/requestContents/write}" method="post">
                    <div class="inputField">
                        <ul>
                            <li th:text="'작성자'"></li>
                            <li><input type="text" name="writer" th:value="${user.nickName}"/></li>
                            <li th:text="'제목'"></li>
                            <li><input type="text" name="title"/></li>
                            <li th:text="'내용'"></li>
                            <li><textarea name="contents"/></li>
                            <li><button type="submit" th:text="'신청하기'"/></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <!--#####################################################################################################################################################################################################################-->
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div th:include="fragment/footer :: footerFragment" ></div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</div>
<div th:include="fragment/script :: scriptFragment" ></div>
</body>
</html>
